---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---
<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Briefs</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
	</nav>
</header>
<style>
	h2 {
		margin: 0;
		font-size: 1.15em;
		letter-spacing: -0.05em;
	}
	h2 a {
		border: none;
		color: #ffffff;
	}
	.internal-links {
		display: flex;
		gap: 1.5rem;
	}
</style>
